{% extends "index.twig" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark black-navbar" style="z-index: 100;">
	<img style="height: 42px; width: 42px; padding: 0;" src="logo.png" class="navbar-brand">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/register">Register</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/login">Log in</a>
			</li>
		</ul>
	</div>
</nav>

<div class="background">
	<div class="text-center containter">
		<h1><b>Log in</b></h1>
		<p style="margin-bottom: 10px">Please fill in this form to log in to your account.</p>
		<form action="/login" method="POST">
			<input type="text" placeholder="Email" name="loginEmail" required></p>
			<input type="password" placeholder="Password" name="psw" required></p>
    		<input type="submit" class="button brown-button" value="Log in"></p>
    	</form>
    	{% if flag == true %}
    		<span style="color: red; margin-bottom: 20px;">Incorrect email address or password.</span>
    		<p><a href="#" style="text-decoration:none; color: #000">Forgot your password?</a></p>
    	{% endif %}
    </div>
</div>
{% endblock %}