{% extends "index.twig" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark black-navbar" style="z-index: 100;">
	<img style="height: 42px; width: 42px; padding: 0;" src="logo.png" class="navbar-brand">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/draw">Register</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/chat">Log in</a>
			</li>
		</ul>
	</div>
</nav>
<div class="background">
	<div class="text-center containter">
		<h1><b>Register</b></h1>
		<p style="margin-bottom:25px">Please fill in this form to create an account.</p>
		<form action="/register" method="POST">
			<p><input type="text" placeholder="Nickname" name="nickname" required></p>
	   		<p><input type="text" placeholder="Email" name="email" required></p>
			<p><input type="password" placeholder="Password" name="password" required></p>
    		<p><input type="password" placeholder="Repeat Password" name="psw-repeat" required></p>
    		<p><input type="submit" class="button brown-button" value="Register"></p>
    	</form>
    	{% if flag == 1 %}
    		<span style="color: red; margin-bottom: 20px;">Email already in use.</span>
    	{% elseif flag == 2 %}
    		<span style="color: red; margin-bottom: 20px;">Incorrect email address.</span>
    	{% elseif flag == 3 %}
    		<span style="color: red; margin-bottom: 20px;">Passwords doesn't match.</span>
    	{% endif %}
    </div>
</div>
{% endblock %}